#about-content, #about-text, #about-favs {
  display: none;
}

#about-header {
  width: 52%;
  margin: 0 auto;
}

#about-header h1 {
  color: var(--light-blue);
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#about-section #about-content {
  width: 95%;
  margin: 0 auto;
}

#about-content img {
  border-radius: 100%;
}

#about-content .col {
  text-align: center;
}

#about-content #about-text {
  text-align: justify;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#about-favs {
  background-color: var(--orange-light);
  width: 95%;
  margin: 0 auto;
}

#about-favs h1 {
  width: 80%;
  margin: 0 auto;
  color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#about-favs .blinkCursor {
  padding-left: 5px;
  -webkit-animation: blinkCursor2 500ms steps(40) infinite;
  -moz-animation: blinkCursor2 500ms steps(40) infinite;
  -o-animation: blinkCursor2 500ms steps(40) infinite;
  animation: blinkCursor2 500ms steps(40) infinite;
}

#about-favs p {
  padding-bottom: 1rem;
  text-align: center;
}

/* ANIMATION */

#about-section .animate_header{
  border-right: var(--typewriter-border);
  white-space: nowrap;
  overflow: hidden;
  width: 8rem;
  -webkit-animation: type3 2s steps(15, end);
  -moz-animation: type3 2s steps(15, end);
  -o-animation: type3 2s steps(15, end);
  animation: type3 2s steps(15, end);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type3 {
  0% {
    width: 0;
  }
  99.9% {
    border-right: var(--typewriter-border);
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  99.9% {
    border-right: var(--typewriter-border);
  }
  100% {
    border: none;
  }
}

@-moz-keyframes type3 {
  0% {
    width: 0;
  }
  99.9% {
    border-right: var(--typewriter-border);
  }
  100% {
    border: none;
  }
}

@-o-keyframes type3 {
  0% {
    width: 0;
  }
  99.9% {
    border-right: var(--typewriter-border);
  }
  100% {
    border: none;
  }
}

/* MEDIA QUERIES */

@media (min-width: 414px) {

}

@media (min-width: 576px) {

}

@media (min-width: 703px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}


@media (min-width: 1200px) {

}

@media (min-width: 1440px) {

}

@media (min-width: 1676px) {
  
}

@media (min-width: 1700px) {

}
