#header-section {
  background-color: var(--dark-blue);
  height: 30rem;
  color: var(--light-blue);
  font-weight: bold;
  padding: 0;
}

#header-section .row {
  padding-top: 12rem;
  margin: 0 auto;
}

#header-section .blinkCursor {
  padding-left: 5px;
  -webkit-animation: blinkCursor 500ms steps(40) infinite;
  -moz-animation: blinkCursor 500ms steps(40) infinite;
  -o-animation: blinkCursor 500ms steps(40) infinite;
  animation: blinkCursor 500ms steps(40) infinite;
}

@media (min-width: 414px) {
  #header-section {
    padding-left: 15px;
    padding-right: 15px;
  }

  #header-section .row {
    width: 85%;
  }
}

@media (min-width: 576px) {
  #header-section .row {
    padding-top: 12.5rem;
  }
}

@media (min-width: 703px) {
  #header-section .row {
    width: 75%;
    padding-top: 13rem;
  }
}

@media (min-width: 768px) {
  #header-section .row {
    width: 68%;
  }
}

@media (min-width: 992px) {
  #header-section .row {
    width: 53%;
  }
}


@media (min-width: 1200px) {
  #header-section .row {
    width: 43%;
  }
}

@media (min-width: 1440px) {
  #header-section .row {
    width: 36%;
  }
}

@media (min-width: 1676px) {
  #header-section .row {
    width: 30%;
  }
}

@media (min-width: 1700px) {

}
